$quizio-yellow: #FFD25A;
$primary-color: #FFD25A;            // ---

$font-body-color: #192B2F;          // font body color
$secondary-color: #192B2F;          // ---

$options-color: #182C2A;            // options color
$text-color: #182C2A;               // ---


$btn-primary-color: #F69A3D;        // btn primary color
$tertiary-color: #F69A3D;           // ---

$primary-modal-background: #F9F9FA; // primary modal background
$background-color: #F9F9FA;         // ---

// $input-background-color: #D7DDDB;   // input-background-color
$input-background-color: $background-color;   // input-background-color
// will be white in v1.1

$exit-button-color:#C4C4C4;
$input-border-color: rgb(169, 169, 169); // DOUBT

$attempted-question: $font-body-color;
$marked-question: $btn-primary-color;