@import '../partials/base';

.createQuizTitleContainer {
    width: 40%;
    margin: 17vh auto;
}

.createQuizTitle {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 5vh;
    font-size: 1.7vw;
    padding: 2%;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #192B2F;
    border-bottom: solid;
    border-color : $quizio-yellow;
}