@import '../partials/base';

.your-grp
{
    border-bottom : solid;
    border-color: $quizio-yellow;
    border-width:0.25vw;
    font-family: Montserrat;
    color: #192B2F;
    font-weight: bold;
    font-size: 1.3vw;
    margin: 2%;
    text-align: center;
    padding-bottom: 5%;
  
}
.no-groups-placeholder{
    padding-bottom: 1%;
    font-family: Montserrat;
    color: $btn-primary-color;
    font-weight: bold;
    margin : 5%;
    margin-bottom: 0%;
    margin-top : 0%
}
.no-groups-placeholder-container{
    margin-top: 1.2vw;
    font-size : 1.3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
