@import '../partials/base';

@media only screen and (min-width: 1365px) {
    .unpaired-flex-item {
        width: 48% !important;
        flex-grow: 0 !important;
    }
}

.groupsCard {
    position: relative;
    left: 3.22%;
    width: 92.05%;
    top: 15.665vh;
    padding-right: 3.95%;
    max-height: 67.19vh;
    overflow: auto;
}

.group-card-header {
    font-size : 1rem;
    justify-content: center;
}

.group-info {
    width: 37.3rem;
    flex-grow: 1;
    padding: 3.9vh 5% 3.9vh 5%;
    box-sizing: border-box;
    justify-content:flex-start;
}

.group-info-heading {
    font: bold 1.3rem 'Montserrat';
    color: $font-body-color;
}

.group-info-sub-heading {
    font: normal 0.875rem 'Open Sans';
    color: $font-body-color;
    margin-top: 2.08vh;
}

.group-join-btn {
    padding-left: 5%;
}

.group-card-home {
    display: flex;
    border-bottom: 2px solid #F9F9FA;
    align-items: center;
    padding: 0.6rem;
    justify-content: flex-start;
}

.group-card-home-heading {
    font: normal normal 600 0.875rem Open Sans;
    color: $font-body-color;
    padding: 0.3rem;
}

.group-card-home-title {
    font: normal normal 600 0.875rem Montserrat;
    color: #182C2A;
    padding-bottom: 0.2rem;
    width: fit-content;
}

.group-card-home-title-container {
    display: flex;
    padding: 3rem 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid $quizio-yellow;
}

.groupsContainer {
    flex-basis: 20rem;
    margin-left: 1rem;
}
.group-info{
    background-color: $primary-modal-background;
    margin:1%
}
.group-info-content{
    margin:1.3rem;
    width: 70%;
}
.group-add-btn{
    font: bold 2rem 'Open Sans';
    color: white;
    height: 2.7rem;
    width: 2.7rem;
    background-color:  $marked-question;

}
.group-undo-container{
    display : flex;
    height : 10%
}
.group-undo-btn{
    font-size : 1rem;
    color :  $primary-color;
    height : 100%
}
.group-temporary-status{
    color : $font-body-color;
    padding: 0.1rem
}
.alert-signup-popup{
    color: red ;
    text-align: center;
    margin-top : 1%;
}
.group-card-header-container{
    position: relative;
    top: 9.635vh;
    left: 3.22%;
    width: 95%;
}
.create-group-btn-container{
    display:  flex;
    justify-content: flex-end;
    width : 91%;
    margin-right : 9%
}
.create-quiz-btn-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.submit-btn-create-quiz{
    width: 70%;
    background-color : #F69A3D;
    font-family:  'Open Sans';
    font-size : 1.1vw;
    font-weight: 600;
    color: #F9F9FA;
    margin-bottom: 3vh;
}
.create-group-label{
    padding : 0.6rem;
    font-size: 1.3rem;
    color : $font-body-color
}
.create-group-btn{
    font: bold 2rem 'Open Sans';
    color: white;
    height: 2.7rem;
    width: 2.7rem;
    background-color:  $attempted-question;
}
