@import '../partials/base';

.quiz-options {
    justify-content: center;
    align-items: center;
}

.home-body {
    min-height: 93.49vh;
}

.upper-body {
    flex-grow: 1;
    align-items: center;
}

.lower-body {
    flex-grow: 3;
}