@import '../partials/base';

input[type=text] {
    width: 75%;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.15rem solid #C4C4C4;
    font-size: 1.2vw;
}
  
input[type=text]:focus {
    outline-width: 0;
    border-bottom: 0.15rem solid $quizio-yellow;
}
  
.inputBox {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1.7vh;
}
  
.inputTitleContainer {
    width: 25%;
}
  
.inputTitle {
    width: 80%;
    text-align: end;
    padding: 1rem 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9vh;
    color: #192B2F;
}
  
.formRow {
    margin-bottom: 3vh;
}