@import '../partials/base';

.members-make-admin{
    font-size : 1rem;
    color :  $btn-primary-color;
    width : 30%;
}
.members-card-header-title{
    font: normal 600 1.3rem 'Open Sans' !important;
    background: none;
    border: none;
    margin-right: 3.3125rem;
    color: $font-body-color;
    border-bottom : solid 0.2rem $primary-color;
}