@import '../partials/base';

.noquizzes-container {
    background-image: url('../images/cover.svg');
    height: 15vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

.sectionText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: #F69A3D;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}