@import '../partials/base';

.attempt-space {
    top: 5%;
    width: 72%;
    left: 28%;
    position: absolute;
    flex-grow: 1;
}

.attempt-space-header {
    position: relative;
    top: 5.86vh;
    height: 0.8125rem;
    width: 78%;
}

.submission {
    width: 89%;
    border: 1px solid $input-background-color;
    border-radius: 0.4rem;
    color: $primary-modal-background;
    background-color: $attempted-question;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    overflow-x: auto;
}

.checked-question {
    color: green;
    margin-bottom: 1rem;
    font-size: 0.976rem;
    text-align: center;
    position: relative;
    top: 2rem;
}

.question-modal, .section-modal, .information-modal {
    position: relative;
    top: 8.72vh;
    width: 78%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.question-number {
    padding: 0.2vh 0 0.2vh 0.2vh;
    width: 2%;
}

.head-question-modal {
    position: relative;
    top: 5vh;
    padding-left: 2rem;
    padding-right: 2rem;
}

.information-modal {
    width: 100%;
    box-sizing: border-box;
}

.timer {
    font: normal 0.875rem 'Open Sans';
}

.section-modal-heading, .information-modal-heading {
    color: $font-body-color;
    font: normal 600 0.875rem 'Open Sans';
    background-color: $primary-modal-background;
    padding: 1rem 1rem 1rem 1rem;
}

.section-modal-heading-input {
    background-color: #F9F9FA;
    padding: 1rem 1rem 1rem 1rem;
}

.question-modal-heading {
    color: $font-body-color;
    font: normal 600 0.875rem 'Open Sans';
    background-color: $primary-modal-background;
    padding: 1rem 0.5rem 1rem 0.5rem;
    overflow: auto;
    width: 81%;
    margin: 0 auto;
}

.question-modal-heading img {
    max-width: 45rem;
}

.arena-slider {
    font-size: 30px;
    min-width: 4rem;
    position: relative;
}

.arrow-items {
    position: absolute;
    top: 0;
    left: 1rem;
}

.question-modal-body, .section-modal-body, .information-modal-body {
    color: $options-color;
    font: normal 0.875rem 'Open Sans';
    padding: 1rem;
    margin-top: 0.5625rem;
    background-color: $primary-modal-background;
}

.qoptions {
    font: normal  0.875rem 'Open Sans';

}

.qbody {
    margin-bottom: 1.5rem;
}

.qbodySelect {
    width: 80%;
    margin-bottom: 3vh;
}

.tabnav {
    width: 100%;
    background-color: #FFFDEF;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2vh;
}

.tabnav-with-question {
    width: 97%;
    background-color: #FFFDEF;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2vh;
}

.navSelected {
    color: #24292e;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    border: 1px solid bisque;
    border-bottom: 0;
}

.preview {
    width: 100%;
    margin-bottom: 2vh;
    overflow: auto;
}

.response-container {
    margin: 0 0 3rem 0;
}

.response-textarea {
    width: 100%;
    height: 10rem;
}

.response-textarea-with-question {
    width: 95%;
    height: 10rem;
}

.response-input {
    width: 10rem;
    height: 1.5rem;
}

label {
    display: block;
    line-height: 2rem;
    padding : 0.8%;
}

.inline {
    display: inline;
    text-align: justify;
}

.markdown-inline {
    flex-grow: 2;
    padding-left: 2%;
    width: -webkit-fill-available;
}

.max-mark {
    color: #FF8514;
    padding-left: 2%;
    min-width: 2.6rem;
}

ol li {
    margin-left: 5%;
}

.response-buttons-container {
    position: relative;
    top: 16.54vh;
    margin-bottom: 34vh;
}

.sbody {
    margin-bottom: 2rem;
}

.quiz-timing-information {
    padding: 2rem;
}

.submitted {
    border-radius: 0.4rem;
    background-color: $attempted-question;
    color: $primary-modal-background;
}
input[type='radio'] {
    -webkit-appearance: none;
    border-radius: 50%;
    box-shadow: 0 0 0 0.16rem #192B2F;
    height: 0.88rem;
    width: 0.88rem;
    margin-right: 2%;
    outline-width: 0;
    vertical-align: middle;


}

input[type='radio']:before {
    content: '';
    display: block;
    width: 70%;
    height: 70%;
    border-radius : 50%;
    margin : 15% ;

}

input[type='radio']:checked:before {
    background: $quizio-yellow;
}

#submission-status {
    color: #378108;
    margin-bottom: 1.5vh;
}
.fullscreen-enabled{
    background-color: white;
    overflow-y: scroll;
}
.Section_header{
    height: 10%;
    width: 100%;
    text-align: center;
    font: normal  2rem 'Open Sans';
    margin-top: 5vh;
}

#submission-autocheck {
    width: max-content;
    top: 25%;
    left: 45%;
    font: normal 2rem 'Open Sans';
    color: #378108;
}
.hiddenVideoIp{
    display : none
}