@import '../partials/base';

#registrants-container {
    width: 69%;
    position: absolute;
    left: 29%;
    top: 10rem;
}

.course {
    width: 5rem;
    flex-basis: 5rem;
}

.social {
    width: 7rem;
    flex-basis: 7rem;
}

.registrants-serial-no {
    width: 3rem;
    flex-basis: 3rem;
}

.enrollment {
    width: 5rem;
    flex-basis: 5rem;
}

.registered-name {
    width: 10rem;
    flex-basis: 10rem;
}

.registered-email {
    width: 22rem;
    flex-basis: 22rem;
}

.registered-contact {
    width: 10rem;
    flex-basis: 10rem;
}

.registered-course {
    width: 10rem;
    flex-basis: 10rem;
}

.registered-insti {
    width: 10rem;
    flex-basis: 10rem;
}

.registered-social{
    width: 22rem;
    flex-basis: 22rem;
    padding-right: 0;
    text-align: center;
}

.social-body {
    padding: 0.5rem;
}

.table-container:nth-child(even) {
    background-color: #EFEFEF;
}