@import "variables";
//@import "layout";
//@import "media_queries";
//@import "typography";
//@import "mixins";

textarea {
    resize: none;
    border: 1px solid $input-background-color;
    background-color: white;
}

input {
    border: 1px solid $input-background-color;
    background-color: white;
}

.hidden {
    display: none;
}

.highlight {
    border-bottom: 2px solid $primary-color;
}

.highlight-thin {
    border-bottom: 1px solid $primary-color;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.align-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.align-end {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

.table {
    display: table;
}

.tr {
    display: table-row;
}

.tc {
    display: table-cell;
}

.column {
    flex-direction: column;
}
.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}
