$quizio-yellow: #FFD25A;
$primary-color: #FFD25A;
$font-body-color: #192B2F;
$btn-primary-color: #F69A3D;
$primary-modal-background: #F9F9FA;
$input-background-color: #D7DDDB;
$options-color: #182C2A;
$input-border-color: rgb(169, 169, 169);
$attempted-question: $font-body-color;
$marked-question: $btn-primary-color;