$quizio-yellow: #FFD25A;
$primary-color: #FFD25A;            // border color
$options-color: #182C2A;            // options color
$btn-primary-color: #F69A3D;        // btn primary color
$primary-modal-background: #F9F9FA; // primary modal background
$input-background-color: #D7DDDB;   // input-background-color
$font-body-color: #192B2F;          // font body color
$exit-button-color:#C4C4C4;
$input-border-color: rgb(169, 169, 169); // DOUBT

$attempted-question: $font-body-color;
$marked-question: $btn-primary-color;