@import '@styles/all.scss';

.registration-form {
  @apply w-full px-8% pt-3.75 pb-10 ;

  .registration-form-basic-details {
      @apply w-full px-8% pt-4 pl-4 pr-4 pb-4 ;
      background-color: #F8F8F8;
      border-style:  dashed;
      border-color: #D7D7D7;
      border-width: 2px 2px 2px 2px;
      border-radius: 4px;
      ::placeholder {
        color: #191919;
      }
      pointer-events: none;
  }
  .registration-form-title {
    @extend .primary-text;
    @apply text-black-1 font-bold text-3xl pb-4 pl-4 ;
  }
  .registration-form-name {
    @apply flex space-x-6 ;

    .registration-form-first-name {
      @apply w-full flex justify-end ;
    }

    .registration-form-last-name {
      @apply w-full flex justify-end ;
    }
  }
  .registration-form-contact {
    @apply flex space-x-6 mt-4 ;

    .registration-form-contact-email {
      @apply w-full flex justify-end ;
    }

    .registration-form-contact-contactno {
      @apply w-full flex justify-end ;
    }
  }
  .registration-form-organisation-name {
    @apply mt-4 ;
  }
  .registration-form-additional-details-title {
    @extend .primary-text;
    @apply text-black-1 font-bold mt-8 pb-4 pl-4 ;
  }
  .registration-details-submit-container {
    @apply pt-10;
    display: flex;
    justify-content: right;
    .registration-details-submit-save-details {
      @apply pr-4;
    }
  }
}