@import '../partials/base';

.group-container
{
    display : flex;
    flex-direction: row;
    margin: 2%;
}
.icon
{
    width : 8%;
    font-size: 1.3vw;
    border : solid;
    border-radius: 50%;
    padding: 2%;
    margin : 2%;
    text-align: center;
    border-color : $quizio-yellow;
    border-width:0.25vw;
    font-weight: bold;
    color: #192B2F;
}
.group-name
{   width: 90%;
    margin: 2%;
    font-size: 1vw;
    color: #182C2A;
    font-family: Montserrat;
    font-weight: bold;
    margin-top : 6%;
}