@import '../partials/base';

.header {
    height: 5vh;
    background-color: $font-body-color;
    .logo {
        font-style: normal;
        font-size: 1.5rem;
        font-weight: bold;
        color: $primary-color;
        cursor: pointer
    }

    .name {
        font-style: normal;
        font-size: 1.5rem;
        color: $primary-color;
        cursor: pointer
    }
    .search-bar{
        // TODO
        color: white;
    }
    .profile{
        border-radius: 50%;
        height: 2rem;
    }
    .logout{

    }
    .exit{

    }
}