@import '../partials/base';

.container {
  width : 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #C4C4C4;
  font-size: 1.2vw;
}

input[type=text]:focus {
  outline-width: 0;
  border-bottom: 0.15rem solid $quizio-yellow;
}